.financialOverviewCard {
  position: relative;
  background-image: url('../../../public/icons/financialOverviewBcg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text-light);
  border-radius: 16px;
  overflow: hidden;
  padding: 0 10px;
}

.financialOverviewCard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  z-index: 1;
}

.financialOverviewCard .ant-card-body,
.financialOverviewCard .ant-card-head-title,
.financialOverviewCard h2,
.financialOverviewCard p,
.financialOverviewCard .summary {
  position: relative;
  z-index: 2;
  color: var(--color-text-light);
}

.financialOverviewCard .ant-card-body {
  color: var(--color-text-light);
  z-index: 1000;
}

.financialOverviewCard .ant-card-head-title {
  color: var(--color-text-light) !important;
}

.financialOverviewCard p {
  margin-bottom: 0px;
}

.financialOverviewCard h2 {
  margin-top: 0;
  color: var(--color-text-light);
}

.viewAllCampains {
  position: absolute;
  right: 10px;
  z-index: 2;
  top: 15px;
  display: flex;
  align-items: center;
  color: var(--color-text-light);
  font-family: var(--font-family-sf);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

.finantialOverviewItem {
  margin-top: 10px;
}

.viewAllCampains img {
  margin-left: 4px;
}

.summary {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-family: var(--font-family-sf);
}

.summary > :first-child {
  font-weight: 500;
  font-size: 16px;
  line-height: 25.6px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.summary > div {
  font-weight: 400;
  display: flex;
  align-items: center;
  font-family: var(--font-family-sf);
}

.summaryTotal {
  font-family: var(--font-family-sf) !important;
  font-weight: 700;
  margin-right: 16px;
}

.summaryName {
  font-family: var(--font-family-sf) !important;
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 25.6px;
  color: var(--color-text-light);
}

.ellipesWhite {
  margin: 0 8px;
}
