.desktopInputContainer {
  position: relative;
  max-width: 450px;
  width: 100%;
  overflow: hidden;
}

.mobileInputContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.searchInput {
  font-size: 16px;
  width: 100%;
  outline: none;
  background-color: #e7f5ff;
  border: none;
  height: 50px;
  border-radius: 8px;
  padding-left: 6px;
}

.searchInput::placeholder {
  color: #0d1821;
  font-size: 16px;
  font-family: 'SF Pro Display';
  line-height: 25.6px;
  opacity: 0.7;
  padding-left: 6px;
}

@media (max-width: 999px) {
  .searchInput::placeholder {
    /* position: absolute; */
    padding-left: 30px;
    margin-left: 40px;
  }
}

.desktopInputContainer > .desktopButton {
  position: absolute;
  right: 1px;
  background-color: #053559;
  height: 50px;
  border-radius: 8px;
  border: none;
  padding: 0 15px;
}

.mobileInputContainer > .mobileButton {
  position: absolute;
  left: 1px;
  height: 50px;
  border-radius: 8px;
  border: none;
  padding: 0 15px;
  background-color: transparent;
}

.mobileInputContainer > .mobileButton {
  position: absolute;
  left: 1px;
  height: 50px;
  border-radius: 8px;
  border: none;
  padding: 0 15px;
  background-color: transparent;
}

.mobileInputContainer > .mobileButton {
  position: absolute;
  left: 1px;
  height: 50px;
  border-radius: 8px;
  border: none;
  padding: 0 15px;
  background-color: transparent;
}

.searchIcon {
  color: #fff;
  width: 12px;
  height: 12px;
}

@media (max-width: 999px) {
  .searchIcon {
    color: #053559;
  }
}
