@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
  margin: 0 !important;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'SF Pro Display', sans-serif;
}

.ant-menu-item-selected {
  background-color: #053559 !important;
  color: white !important;
}
