@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
  --color-primary: #053559;
  --color-secondary: #0d1821;
  --color-background: #ffffff;
  --color-light-blue-background: #e7f5ff;
  --color-white: #fff;
  --color-text-light: #e9e9e9;
  --color-text-dark: #000000;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-overlay: rgba(0, 39, 102, 0.8);
  --font-family-sf: 'SF Pro Display', sans-serif;
  --font-family-neue: 'Neue Montreal';
  --color-dark-blue: #001529;
  --color-light-gray: #d9d9d9;
  --color-gray: #888;
  --color-dim-gray: #595959;
  --color-medium-gray: #737373;
  --color-dark-blue-hover: #002a80;
}

body {
  margin: 0 !important;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: var(--font-family-sf);
}

/* overriding ant ui default styles */
.ant-menu-item-selected {
  background-color: var(--color-primary) !important;
  color: var(--color-text-light) !important;
}

.ant-card-head-title {
  color: var(--color-white);
  z-index: 2;
}

.ant-list-item-meta {
  display: flex;
  align-items: center !important;
}

.ant-list-item-meta-avatar {
  margin-inline-end: 8px !important;
}

.ant-list-item-meta-title > a {
  font-family: var(--font-family-sf) !important;
  color: var(--color-secondary) !important;
  font-weight: 400 !important;
}

.ant-drawer-header-title {
  justify-content: flex-end;
}

.ant-drawer-title {
  display: none;
}

.ant-drawer-body {
  padding: 20px 10px 0 0 !important;
}

.ant-card-body {
  padding: 0px 0px 9px 0px !important;
}

.ant-card-extra {
  color: var(--color-white);
  z-index: 2;
}

@media (max-width: 999px) {
  .ant-drawer-header {
    display: none !important;
  }
}

@media (max-width: 999px) {
  .ant-layout {
    background: var(--color-background);
    box-shadow: var(--color-shadow);
  }
}

.dashboardSearchContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
}

.smallerScreenToggleCampainBtnWrapper {
  display: flex;
  justify-content: end;
  padding-bottom: 30px;
}

.smallerScreenToggleCampainBtnWrapper > button {
  background: var(--color-primary);
}

.list-grid-icons i {
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-sort-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .sort-by {
    margin-top: 10px;
  }
}

.list-view .ant-card {
  width: 100%;
  margin-bottom: 16px;
}

.redirect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loading-spinner {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #555;
  text-align: center;
}
